.btn-outline {
  border: 1px solid transparent;
  background: transparent; }
  .btn-outline.btn-default {
    color: #333;
    border-color: #333; }
  .btn-outline.btn-primary {
    color: #0277BD;
    border-color: #0277BD; }
  .btn-outline.btn-danger {
    color: #F44336;
    border-color: #F44336; }
  .btn-outline.btn-warning {
    color: #FF9800;
    border-color: #FF9800; }
  .btn-outline.btn-info {
    color: #673AB7;
    border-color: #673AB7; }
  .btn-outline.btn-success {
    color: #4CAF50;
    border-color: #4CAF50; }
  .btn-outline.disabled,
  .btn-outline:hover.disabled,
  .btn-outline:active.disabled,
  .btn-outline:focus.disabled {
    background: transparent; }
    .btn-outline.disabled.btn-default,
    .btn-outline:hover.disabled.btn-default,
    .btn-outline:active.disabled.btn-default,
    .btn-outline:focus.disabled.btn-default {
      color: #333;
      border-color: #333; }
    .btn-outline.disabled.btn-primary,
    .btn-outline:hover.disabled.btn-primary,
    .btn-outline:active.disabled.btn-primary,
    .btn-outline:focus.disabled.btn-primary {
      color: #0277BD;
      border-color: #0277BD; }
    .btn-outline.disabled.btn-danger,
    .btn-outline:hover.disabled.btn-danger,
    .btn-outline:active.disabled.btn-danger,
    .btn-outline:focus.disabled.btn-danger {
      color: #F44336;
      border-color: #F44336; }
    .btn-outline.disabled.btn-warning,
    .btn-outline:hover.disabled.btn-warning,
    .btn-outline:active.disabled.btn-warning,
    .btn-outline:focus.disabled.btn-warning {
      color: #FF9800;
      border-color: #FF9800; }
    .btn-outline.disabled.btn-info,
    .btn-outline:hover.disabled.btn-info,
    .btn-outline:active.disabled.btn-info,
    .btn-outline:focus.disabled.btn-info {
      color: #673AB7;
      border-color: #673AB7; }
    .btn-outline.disabled.btn-success,
    .btn-outline:hover.disabled.btn-success,
    .btn-outline:active.disabled.btn-success,
    .btn-outline:focus.disabled.btn-success {
      color: #4CAF50;
      border-color: #4CAF50; }
  .btn-outline:hover:not(.disabled),
  .btn-outline:focus:not(.disabled),
  .btn-outline.active:focus:not(.disabled),
  .btn-outline:focus:active:not(.disabled),
  .btn-outline.active.focus:not(.disabled) {
    outline: 0;
    outline: none;
    color: white; }
    .btn-outline:hover:not(.disabled).btn-default,
    .btn-outline:focus:not(.disabled).btn-default,
    .btn-outline.active:focus:not(.disabled).btn-default,
    .btn-outline:focus:active:not(.disabled).btn-default,
    .btn-outline.active.focus:not(.disabled).btn-default {
      background-color: #333; }
    .btn-outline:hover:not(.disabled).btn-primary,
    .btn-outline:focus:not(.disabled).btn-primary,
    .btn-outline.active:focus:not(.disabled).btn-primary,
    .btn-outline:focus:active:not(.disabled).btn-primary,
    .btn-outline.active.focus:not(.disabled).btn-primary {
      background-color: #0277BD; }
    .btn-outline:hover:not(.disabled).btn-danger,
    .btn-outline:focus:not(.disabled).btn-danger,
    .btn-outline.active:focus:not(.disabled).btn-danger,
    .btn-outline:focus:active:not(.disabled).btn-danger,
    .btn-outline.active.focus:not(.disabled).btn-danger {
      background-color: #F44336; }
    .btn-outline:hover:not(.disabled).btn-warning,
    .btn-outline:focus:not(.disabled).btn-warning,
    .btn-outline.active:focus:not(.disabled).btn-warning,
    .btn-outline:focus:active:not(.disabled).btn-warning,
    .btn-outline.active.focus:not(.disabled).btn-warning {
      background-color: #FF9800; }
    .btn-outline:hover:not(.disabled).btn-info,
    .btn-outline:focus:not(.disabled).btn-info,
    .btn-outline.active:focus:not(.disabled).btn-info,
    .btn-outline:focus:active:not(.disabled).btn-info,
    .btn-outline.active.focus:not(.disabled).btn-info {
      background-color: #673AB7; }
    .btn-outline:hover:not(.disabled).btn-success,
    .btn-outline:focus:not(.disabled).btn-success,
    .btn-outline.active:focus:not(.disabled).btn-success,
    .btn-outline:focus:active:not(.disabled).btn-success,
    .btn-outline.active.focus:not(.disabled).btn-success {
      background-color: #4CAF50; }
