// Thanks to http://codepen.io/jlegosama/pen/RPzNjw

@import 'colors';

.btn-shiny {
  background: transparent;
  border: 2px solid transparent;
  overflow: hidden;

  &.btn-big {
    @keyframes sheen {
      100% {
        transform: skewY(-45deg) translateX(22.5em);
      }
    }
  }
  @keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }

    100% {

      transform: skewY(-45deg) translateX(12.5em);
    }
  }

  &.btn-default { color: $default-dark; border-color: $default-dark }
  &.btn-primary { color: $primary; border-color: $primary }
  &.btn-danger  { color: $danger; border-color: $danger }
  &.btn-warning { color: $warning; border-color: $warning }
  &.btn-info { color: $info; border-color: $info }
  &.btn-success { color: $success; border-color: $success }

  &.disabled,
  &:hover.disabled,
  &:active.disabled,
  &:focus.disabled {

    background: transparent;
    &.btn-default { color: $default-dark; border-color: $default-dark }
    &.btn-primary { color: $primary; border-color: $primary }
    &.btn-danger  { color: $danger; border-color: $danger }
    &.btn-warning { color: $warning; border-color: $warning }
    &.btn-info { color: $info; border-color: $info }
    &.btn-success { color: $success; border-color: $success }
  }

  // The shiny //
  &:before {
    content: "";
    background-color: rgba(255,255,255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }

  &:hover:not(.disabled),
  &:active:not(.disabled),
  &:focus:not(.disabled) {
    color: white;
    border-bottom: 4px solid transparent;

    &.btn-default { background-color: $default-dark; border-color: darken($default-dark, 15%) }
    &.btn-primary { background-color: $primary; border-color: darken($primary, 15%) }
    &.btn-danger  { background-color: $danger; border-color: darken($danger, 15%) }
    &.btn-warning { background-color: $warning; border-color: darken($warning, 15%) }
    &.btn-info { background-color: $info; border-color: darken($info, 15%) }
    &.btn-success { background-color: $success; border-color: darken($success, 15%) }

    &.btn-big {
      &:before {
        transform: skewX(-45deg) translateX(23.5em);
      }
    }
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.5s ease-in-out;
    }
  }
}