@import 'mixins';

.btn {
  outline: 0;
  outline: none;
  @include transition(0.2s all ease);
  padding: 10px 20px;
  font-weight: 300;
  height: 50px;
  line-height: 2em;
  z-index: 1;
  position: relative;

  &:hover,
  &:focus,
  &:active,
  &:active:focus,
  &:active.focus,
  &.active.focus {
    outline: 0;
    outline: none;
  }

  &.btn-round {
    border-radius: 25px;

    &:hover {
      border-color: transparent;
    }
  }

  &.btn-square {
    border-radius: 0;
  }

  &.btn-big {
    height: 100px;
    font-size: 2.2em;
    padding: 20px 40px;
  }
}

.btn-group {
  &.btn-group-rounded {
    .btn {
      border-radius: 25px;
    }
    & > .btn:last-child:not(:first-child),
    & > .dropdown-toggle:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

