@import 'mixins';
@import 'colors';

.btn-droplet {
  border: none;
  background: white;
  overflow: hidden;
  @include transition(color 0.3s);

  &.btn-default { color: $default-dark; }
  &.btn-primary { color: $primary; }
  &.btn-danger  { color: $danger;  }
  &.btn-warning { color: $warning; }
  &.btn-info { color: $info; }
  &.btn-success { color: $success; }

  &.btn-default:before { background: $default-dark; }
  &.btn-primary:before { background: $primary }
  &.btn-danger:before  { background: $danger}
  &.btn-warning:before { background: $warning }
  &.btn-info:before { background: $info }
  &.btn-success:before { background: $success }

  &.btn-default:after { background: darken($default-dark, 10%) }
  &.btn-primary:after { background: darken($primary, 10%) }
  &.btn-danger:after { background: darken($danger, 10%) }
  &.btn-warning:after { background: darken($warning, 10%) }
  &.btn-info:after { background: darken($info, 10%) }
  &.btn-success:after { background: darken($success, 10%) }

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    @include transition(transform 300ms);
    @include transition-timing(cubic-bezier(0.75, 0, 0.125, 1));
  }

  &:focus,
  &.disabled,
  &:active,
  &:hover {
    &::before,
    &::after {
      @include transform(translate3d(0, 100%, 0));
    }

    &::after {
      @include transition-delay(0.175s);
    }

    border: none;
    color: white;
    background: $default;
  }
}
