@import "mixins";
@import "colors";

body {
  font-family: 'Raleway', sans-serif;
}

section {
  width: 100%;
  min-height: 300px;
  padding: 150px 0;
  margin: 0 auto;
  font-weight: bold;


  .btn {
    font-weight: 400;
  }

  &#buttons-header {
    color: white;
    background: #333;
    h1 {
      font-size: 6em;
      font-weight: 900;
    }

    .buttons {
      font-weight: 300;
      margin-top: 100px;
    }
  }
  &#buttons-flat {
    background: #fafafa;
  }
  &#buttons-outline {
    background: #f1f1f1;
  }
  &#buttons-raised {
    background: #fefefe;
  }
  &#buttons-shiny {
    @include linear-gradient(top, #efefef, #fefefe);
  }
  &#buttons-smooth {
    .buttons-header:after {
      background: white;
    }

    color: white;

    background: url('/images/smooth-bg.jpg');
  }

  &#buttons-droplets {
    background: #eee;
    color: #333;
  }

  span.buttons-header {
    text-align: right;
    font-size: 3em;
    margin-bottom: 30px;
    display: inline-block;
    float: right;
    position: relative;

    &:after {
      content: ' ';
      height: 4px;
      width: 100%;

      position: absolute;
      bottom: -5px;
      right: 0;

      background: #333;
    }
  }

  .buttons-label {
    margin: 30px auto;
    text-align: right;
    font-size: 2em;
    height: 50px; // match button height //
  }

  .buttons {
    text-align: center;
    margin: 30px auto;

    .btn-group .btn {
      &:first-child {
        // Weird bug that has extra pixels on the right //
        margin-left: 0;
      }
      margin-left: -1px;
      margin-right: 0;
    }

    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

#color-selector {

  &.open {
    #color-contents { right: 0 }
    #tab { right: 420px }
  }

  #color-contents {
    @include transition(right 500ms);
    @include transition-timing(cubic-bezier(0.88, 0, 0.2, 1));

    z-index: 99;
    position: fixed;
    right: -420px;
    top: 20%;

    width: 420px;
    height: 580px;
    background: #fefefe;
    border: 2px #666 solid;
    padding: 10px;

    .scheme-name {
      text-align: right;
      display: block;
      height: 42px;
      margin: 10px 0;
      padding: 5px;
      font-weight: bold;
      line-height: 30px;
    }

    .color-scheme {
      margin: 10px 0;
      padding: 5px;

      display: table;
      line-height: 0;

      border-radius: 4px;
      border: 1px solid transparent;
      @include transition(border 300ms);

      &:hover {
        border-color: $material_default;
        cursor: pointer;
      }

      &:focus {
        border-color: $material_primary;
      }

      span {
        height: 30px;
        width: 30px;
        margin: 0;
        padding: 0;
        display: inline-block;
      }

      &.color-material {
        .color-default-dark { background: $material_default_dark; }
        .color-default      { background: $material_default; }
        .color-primary      { background: $material_primary; }
        .color-success      { background: $material_success; }
        .color-info         { background: $material_info; }
        .color-warning      { background: $material_warning; }
        .color-danger       { background: $material_danger; }
      }

      &.color-bootstrap {
        .color-default-dark { background: $bootstrap_default_dark; }
        .color-default      { background: $bootstrap_default; }
        .color-primary      { background: $bootstrap_primary; }
        .color-success      { background: $bootstrap_success; }
        .color-info         { background: $bootstrap_info; }
        .color-warning      { background: $bootstrap_warning; }
        .color-danger       { background: $bootstrap_danger; }
      }

      &.color-uikit {
        .color-default-dark { background: $uikit_default_dark; }
        .color-default      { background: $uikit_default; }
        .color-primary      { background: $uikit_primary; }
        .color-success      { background: $uikit_success; }
        .color-info         { background: $uikit_info; }
        .color-warning      { background: $uikit_warning; }
        .color-danger       { background: $uikit_danger; }
      }

      &.color-orangey {
        .color-default-dark { background: $orangey_default_dark; }
        .color-default      { background: $orangey_default; }
        .color-primary      { background: $orangey_primary; }
        .color-success      { background: $orangey_success; }
        .color-info         { background: $orangey_info; }
        .color-warning      { background: $orangey_warning; }
        .color-danger       { background: $orangey_danger; }
      }

      &.color-blueish {
        .color-default-dark { background: $blueish_default_dark; }
        .color-default      { background: $blueish_default; }
        .color-primary      { background: $blueish_primary; }
        .color-success      { background: $blueish_success; }
        .color-info         { background: $blueish_info; }
        .color-warning      { background: $blueish_warning; }
        .color-danger       { background: $blueish_danger; }
      }

      &.color-neon {
        .color-default-dark { background: $neon_default_dark; }
        .color-default      { background: $neon_default; }
        .color-primary      { background: $neon_primary; }
        .color-success      { background: $neon_success; }
        .color-info         { background: $neon_info; }
        .color-warning      { background: $neon_warning; }
        .color-danger       { background: $neon_danger; }
      }

      &.color-purpange {
        .color-default-dark { background: $purpange_default_dark; }
        .color-default      { background: $purpange_default; }
        .color-primary      { background: $purpange_primary; }
        .color-success      { background: $purpange_success; }
        .color-info         { background: $purpange_info; }
        .color-warning      { background: $purpange_warning; }
        .color-danger       { background: $purpange_danger; }
      }

      &.color-cozy {
        .color-default-dark { background: $cozy_default_dark; }
        .color-default      { background: $cozy_default; }
        .color-primary      { background: $cozy_primary; }
        .color-success      { background: $cozy_success; }
        .color-info         { background: $cozy_info; }
        .color-warning      { background: $cozy_warning; }
        .color-danger       { background: $cozy_danger; }
      }

      &.color-rich {
        .color-default-dark { background: $rich_default_dark; }
        .color-default      { background: $rich_default; }
        .color-primary      { background: $rich_primary; }
        .color-success      { background: $rich_success; }
        .color-info         { background: $rich_info; }
        .color-warning      { background: $rich_warning; }
        .color-danger       { background: $rich_danger; }
      }
    }
  }

  #tab {
    @include transition(right 500ms);
    @include transition-timing(cubic-bezier(0.88, 0, 0.2, 1));

    z-index: 99;
    position: fixed;
    right: 0;
    top: 20%;

    width: 50px;
    height: 50px;

    color: white;
    background: #666;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }

    span {
      font-size: 30px;
    }
  }
}

