section {
  width: 100%;
  min-height: 300px;
  margin: 150px auto;

  .buttons-header {
    text-align: right;
    font-size: 3em;
    margin-bottom: 20px;
  }

  .buttons-label {
    margin: 20px auto;
    text-align: right;
    font-size: 2em;
    height: 50px; // match button height //
  }

  .buttons {
    text-align: center;
    margin: 20px auto;

    .btn-group .btn {
      &:first-child {
        // Weird bug that has extra pixels on the right //
        margin-left: 0;
      }
      margin-left: -1px;
      margin-right: 0;
    }

    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}