@import "mixins";

section {
  width: 100%;
  min-height: 300px;
  padding: 150px 0;
  margin: 0 auto;
  font-weight: bold;

  &#buttons-header {
    color: white;
    background: #333;
    h1 {
      font-size: 6em;
    }
  }
  &#buttons-flat {
    background: #fafafa;
  }
  &#buttons-outline {
    background: #f1f1f1;
  }
  &#buttons-raised {
    background: #fefefe;
  }
  &#buttons-shiny {
    @include linear-gradient(top, #efefef, #fefefe);
  }
  &#buttons-smooth {
    color: white;

    background: url('/images/smooth-bg.jpg');
  }

  .buttons-header {
    text-align: right;
    font-size: 3em;
    margin-bottom: 20px;
  }

  .buttons-label {
    margin: 30px auto;
    text-align: right;
    font-size: 2em;
    height: 50px; // match button height //
  }

  .buttons {
    text-align: center;
    margin: 30px auto;

    .btn-group .btn {
      &:first-child {
        // Weird bug that has extra pixels on the right //
        margin-left: 0;
      }
      margin-left: -1px;
      margin-right: 0;
    }

    .btn {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}